extends layout

block content

  header.Header
    nav.Navigation
      ul.Navigation-entryList
        li.Motivation(v-if='$root.auth.fullAccess')
          a(v-link="{ path: '/Bewerbung-Daimler-UI-Designer', activeClass: 'is-active', exact: true }" v-link-active).Navigation-entry
            h1 Motivation

        li.Vita
          a(v-link="{ path: '/Vita', activeClass: 'is-active' }").Navigation-entry
            h1 Curriculum Vitae

        li.Portfolio(v-if='$root.auth.fullAccess')
          a(v-link="{ path: '/Portfolio', activeClass: 'is-active' }").Navigation-entry
            h1 Portfolio

        li.Kontakt
          a(v-link="{ path: '/Kontakt', activeClass: 'is-active' }").Navigation-entry
            h1 Kontakt

    .Watermark(v-if='$root.auth.fullAccess')
      .Watermark-item Jan Wirth
      .Watermark-item Bewerbung als Visual UI Designer
      .Watermark-item #155991


  router-view(transition="page", transition-mode="out-in")
