doctype html
html(lang='de')#App

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='author', content= "author of the site")
    //- uncomment if your site is responsive!
    //- meta(name="viewport" content="width=device-width, initial-scale=1")
    title(v-if="!$route.title") Jan Wirth
    template(v-else)
      title {{ $route.title }} | Jan Wirth
    != css()

    != css()

  body
    .Portfolio-Page
      block content

    != js()
    script(src="app.js")
