<template lang="jade">

// Input field mixins

mixin text(name)
  .Input.Input--text
    label(for='#' + name)= name
    input(type='text' id=name name=name required)

mixin email(name)
  .Input.Input--email
    label(for='#' + name)= name
    input(type='email' id=id name=name required)

mixin textarea(name)
  .Input.Input--textarea
    label(for='#' + name)= name
    textarea(id=id name=name)





section.Contact
  .Contact-content
    .Contact-heading Jan Wirth
    address.Address.Meta-entryGroup
      .Meta-entry
        .Meta-heading Email
        // a(href='mailto:kontakt@jan-wirth.de').Meta-content kontakt@jan-wirth.de
        .Meta-content kontakt@jan-wirth.de

      .Meta-entry
        .Meta-heading Tel (Festnetz)
        .Meta-content 06271 71978

      .Meta-entry
        .Meta-heading Anschrift
        .Meta-content Kurfürstenweg 10/1
        .Meta-content 69412 Eberbach


//    form(name='Contact Form' netlify action='/#!/Kontakt/{{visitor.name}}').Contact-form
//      +text('Name')
//      +email('Email')
//      +textarea('Nachricht')
//
//      button.Button Senden





</template>

<script lang="coffee">
</script>
