<template lang="jade">
section.Motivation
  img(src='img/portrait.png').Portrait

  .Text
    .Text-heading Bewerbung als Visual UI Designer in Sindelfingen
    .Text-subHeading 156006

    .Text-Body(v-hyphenate)
        | Daimler begeistert durch PKWs und Nutzfahrzeuge höchster Quallität. Die Arbeit bei Daimler bedeutet für mich, spannende Probleme zu lösen, Perfektion anzustreben und zu erreichen. Genau deshalb freue ich mich darüber, Ihnen meine Mitarbeit an der Zukunft der Mobilität anzubieten.

        .Text-quote
          | “Design is really an act of communication, which means having a deep understanding of the person with whom the 
          span.u-noWrap designer is communicating.”

        .Text-quoteAuthor
          | Donald A. Norman, The Design of Everyday Things

        p Am Anfang, im Mittelpunkt und am Ende jeder Designstrategie steht der Mensch. Die Gestaltung und Entwicklung von Applikationen und interaktiven Erlebnissen unter Berücksichtigung von Nutzern und Stakeholdern ist eine Kernkompetenz, die ich mir im Onlinemedien-Studium der DHBW erarbeitete. Dabei kommt mir meine Begeisterung für Kulturen, Sprachen, Designtrends und technische Innovationen, also Aspekte, die das Leben von uns Menschen prägen und den Kontext für unsere Arbeit als Designer schaffen, zugute.

        p Im Kern einer erfolgreichen Entwicklung steht ein geniales Team. Das zeigt mir der Sieg des Daimler DigitalLife Hackathons, bei welchem unser Team eine Applikation, die Leben retten kann, konzipierte und entwickelte.
        p Für mich ist die ultimative Inspiration die Deadline. Bei meiner Tätigkeit als Freelancer neben Studium und Arbeit profitiere ich von der Fähigkeit, Aufgaben effizient zu priorisieren und in Herausforderungen neue Chancen zu erkennen.
        p Malerei und Fotografie begleiten mich seit meiner Kindheit. Die Erfahrung, die ich als Künstler sammle sind essenziell für meine Arbeit als Designer.

        p Mein Arbeitsstil ist geprägt von Offenheit, Initiative, Kritikfähigkeit und Reflexion. Ich freue mich darauf, mir bei Ihnen neue Verantwortungs- und Kompetenzbereiche zu erschließen. Die Aspiration, den Bereich des Industriedesigns näher kennen zu lernen macht Daimler aus persönlicher Sicht zu einem idealen Arbeitsplatz.

        p Ich freue mich wenn Sie mir die Gelegenheit geben mich persönlich bei Ihnen vorzustellen.

        p Mit freundlichen Grüßen

    img(src='/img/signature.png').Text-signature

</template>

<script lang="coffee">
module.exports =
  directives:
    hyphenate: ->

      replaceNode = (a, b) ->
        a.parentNode.replaceChild(b, a)

      if window.HyphenatorCache?
        console.log Hyphenator
        replaceNode @el, window.HyphenatorCache
        @el.classList.add 'is-hyphenated'

      else
        @el.classList.add 'hyphenate'

        Hyphenator_Loader.init(
          {
              # "en": "automatically",
              "de": "Silbentrennungsalgorithmus"
          },
          "../Hyphenator/Hyphenator.js")

        @el.addEventListener 'DOMSubtreeModified', (event) =>
          window.HyphenatorCache = @el
          @el.classList.add 'is-hyphenated'
</script>
