<template lang="jade">
section.References
  .Apps

    a(target='_blank' href='https://boehle.consulting').App--phone
      img(src='img/boehle_one.png').App-image
      .App-details
        .App-heading Boehle Consulting
        .App-detail 2016
        .App-detail Design
        .App-detail Entwicklung
        .App-detail Usability
        .App-detail Performance


    a(target='_blank' href='http://demo.1crmcloud.com/index.php?module=Users&user_theme=Flex').App--ipad
      img(src='img/1crm_ipad.png').App-image
      .App-details
        .App-heading 1CRM Flex Theme
        .App-detail 2016
        .App-detail Grafisches Redesign
        .App-detail Entwicklung

  a.Interaction(href='http://codepen.io/franzskuffka/') Konzepte im Bereich Interaktionsdesign finden sie auf codepen.io/franzskuffka

  .Photography
    .Photography-heading Fotografie
    .Photograph-list
      .Photograph
        img(v-intense src='/img/photo/Vinyl.jpg').Photograph-image
      .Photograph
        img(v-intense src='/img/photo/chains.jpg').Photograph-image

    .Photograph-list
      .Photograph
        img(v-intense src='/img/photo/fizz.jpg').Photograph-image
      .Photograph
        img(v-intense src='/img/photo/fortress.jpg').Photograph-image

    .Photograph-list
      .Photograph
        img(v-intense src='/img/photo/micro.jpg').Photograph-image
      .Photograph
        img(v-intense src='/img/photo/relic.jpg').Photograph-image
      .Photograph
        img(v-intense src='/img/photo/tau.jpg').Photograph-image

    .Photograph-list
      .Photograph
        img(v-intense src='/img/photo/touch.jpg').Photograph-image
      .Photograph
        img(v-intense src='/img/photo/underthesky.jpg').Photograph-image
  
  .Logos
    .Logos-heading Logos
    img(src='img/logos/nos.svg').Logo
    img(src='img/logos/edel.svg').Logo
    img(src='img/logos/hotel.svg').Logo

  .Videos
    .Videos-heading Videoproduktionen

    a.Video-title(target='_blank' href='https://vimeo.com/68045664') Stopmotion - Schülerarbeit - 2013
    iframe.Video(src="https://player.vimeo.com/video/68045664" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen).

    a.Video-title(target='_blank' href='http://stadtlandfluss-geschichten.de/video/licht-und-schatten/') Portrait - Studentische Arbeit - 2016
    iframe.Video(width="560" height="315" src="https://www.youtube.com/embed/iebG_yu1IYU" frameborder="0" allowfullscreen)


</template>

<script lang="coffee">
module.exports =
  directives:
    intense: require '../directives/intense'
</script>
