<template lang="jade">
section.Vita
  personal-info

  .Timeline
    .Timeline-heading Lebenslauf
    .TimelineNavigation(class='is-selecting-{{timelineFilter}}')
      .TimelineNavigation-entry(v-on:click='filterTimeline("work")' v-bind:class='{"is-active":timelineFilter == "work"}').Work
        a.Work Arbeitsprofil

      .TimelineNavigation-entry(v-on:click='filterTimeline("education")' v-bind:class='{"is-active":timelineFilter == "education"}').Education
        a.Education Bildung

      .TimelineNavigation-entry(v-on:click='filterTimeline("other")' v-bind:class='{"is-active":timelineFilter == "other"}').Other
        a.Other Weiteres


    .TimeAxis
      .AxisPoint.Axispoint-demi
        .today heute
        .todayDate {{currentDate}}
        hr

      .AxisPoint.AxisPoint--full 1.16
        hr
      .AxisPoint.AxisPoint--demi: hr

      .AxisPoint.AxisPoint--full 1.15
        hr
      .AxisPoint.AxisPoint--demi: hr

      .AxisPoint.AxisPoint--full 1.14
        hr
      .AxisPoint.AxisPoint--demi: hr

      .AxisPoint.AxisPoint--full 1.13
        hr
      .AxisPoint.AxisPoint--demi: hr

      .AxisPoint.AxisPoint--full 1.12
        hr
      .AxisPoint.AxisPoint--demi: hr

      .AxisPoint.AxisPoint--full 1.11
        hr
      .AxisPoint.AxisPoint--demi: hr

      .AxisPoint.AxisPoint--full 1.05
        hr
      .AxisPoint.AxisPoint--demi: hr


    .StrandList
      .Strand.Strand--right.Work(v-bind:class='{"is-active":timelineFilter == "work"}')

        .Period
          .Period-content
            .Period-context visual4
            .Period-summary Designer und Entwickler
          .Period-line(v-timeline duration='2.75'): hr

        .Period(v-period end='13.5')
          .Period-content
            .Period-context Kilian Kanalsanierung
            .Period-summary Fotograf
          .Period-line(v-timeline duration='.1'): hr

      .Strand.Strand--left.Work(v-bind:class='{"is-active":timelineFilter == "work"}')

        .Period
          .Period-content
            .Period-context Lesz
            .Period-summary Freelance Designer und Entwickler
          .Period-line(v-timeline duration='2'): hr

        .Period(v-period end='13.75')
          .Period-content
            .Period-context Beysser Objektgestaltung
            .Period-summary Praktikant
          .Period-line(v-timeline duration='.25'): hr

        .Period(v-period end='12.7')
          .Period-content
            .Period-context Grüber Projektmanagement
            .Period-summary Bürofachkraft
          .Period-line(v-timeline duration='.05'): hr
          .Period-line(v-timeline duration='.1' end='.2'): hr

        .Period(v-period end='11.8')
          .Period-content
            .Period-context t.site media systems
            .Period-summary Praktikant
          .Period-line(v-timeline duration='.1'): hr

      .Strand.Strand--right.Education(v-bind:class='{"is-active":timelineFilter == "education"}')

        .Period
          .Period-content
            .Period-context DHBW Mosbach
            .Period-summary Onlinemedien B.A.
          .Period-line(v-timeline duration='2.75'): hr

        .Period(v-period end='13.25')
          .Period-content
            .Period-context HSG Eberbach
            .Period-summary Allgemeinbildendes Abitur
          .Period-line(v-timeline duration='2.5'): hr

        .Period(v-period end='10.5')
          .Period-content
            .Period-context Steige Grundschule Eberbach
          .Period-line(v-timeline duration='1'): hr

      .Strand.Strand--right.Other(v-bind:class='{"is-active":timelineFilter == "other"}')

        .Period(v-period end='16.4')
          .Period-content
            .Period-context unkonf 2016
          .Period-line(v-timeline duration='.1'): hr

        .Period(v-period end='15.7')
          .Period-content
            .Period-context Barcamp Stuttgart #8
          .Period-line(v-timeline duration='.1'): hr

        .Period(v-period end='15.4')
          .Period-content
            .Period-context unkonf 2015
          .Period-line(v-timeline duration='.1'): hr

        .Period(v-period end='14.7')
          .Period-content
            .Period-context Barcamp Stuttgart #7
          .Period-line(v-timeline duration='.1'): hr

        .Period(v-period end='12.4')
          .Period-content
            .Period-context 8. Eberbacher Frühlingslauf 
            .Period-summary 1. Platz Halbmarathon m Jugend B
          .Period-line(v-timeline duration='.1'): hr

      .Strand.Strand--left.Other(v-bind:class='{"is-active":timelineFilter == "other"}')

        .Period(v-period end='16.5')
          .Period-content
            .Period-context Daimler DigitalLife Day
          .Period-line(v-timeline duration='.1'): hr

        .Period(v-period end='16.25')
          .Period-content
            .Period-context Daimler DigitalLife Hackathon
            .Period-summary 1. Platz mit Team Inceptor
          .Period-line(v-timeline duration='.1'): hr

        .Period(v-period end='15.5')
          .Period-content
            .Period-context Projekttage HSG Eberbach
            .Period-summary Leiter Graffiti Projekt
          .Period-line(v-timeline duration='.1'): hr

        .Period(v-period end='12.5')
          .Period-content
            .Period-context Projekttage HSG Eberbach
            .Period-summary Leiter Graffiti Projekt
          .Period-line(v-timeline duration='.1'): hr


</template>

<script lang="coffee">
timelineDirectives = require '../directives/timeline'
module.exports =
  data: ->
    date = new Date()
    currentDate = date.getDate()
    currentDate += '.' + (date.getMonth() + 1)
    currentDate += '.' + date.getFullYear()
    data = 
      currentDate: currentDate
      timelineFilter: "work"

  directives:
    timeline: timelineDirectives.line
    period: timelineDirectives.period

  methods:
    filterTimeline: (category) ->
      @timelineFilter = category

</script>
