
.Address
  display inline-block

.Contact-content
  transition()

.Contact-form
.Address
  transition()

.Contact-heading
  font-weight bold
  

.Input
  margin-bottom _(2)
  input
  textarea
  label
    display block

.Contact-form
  background transparentify(black, black, 0.8)
  color white
  padding _(3) _(3) _(3) _(100)
  margin 0 0 0 _(-100)

  input
    width _(15)

  textarea
    width _(20)
    height _(10)

  input
  textarea
    background white
    border none
    padding _(1)
    color black
    border-bottom 2px solid transparent
    outline none
    border-radius 2px
    &:focus
      background transparent
      border-bottom 2px solid green
      color white

.Button
  padding _(1) _(4)
  width _(15)
  border 2px solid white
  color inherit
  background none
  text-align center
  outline none
  cursor pointer
  box-sizing border-box
  &:hover
  &:focus
    border-color green
    transform scale(1.05) rotate(-2deg)

input
textarea
button
  transition()
  font-family inherit
  font-size inherit
