// INTRO

.Text
  float right
  background white
  max-width _(30)
  width 100%
  text-align justify
  hyphens auto
  &-heading
    font-weight bold

  &-subHeading
    opacity .7
    margin-bottom _(3)

  &-quote
  &-quoteAuthor
    font-family Bitter
    text-align center
    margin _(3) _(1)

  &-quoteAuthor
    margin-top _(-2)
    font-size smallfont

    &:before
      content '—'
      padding-right .5em

  &-signature
    width _(15)
    float right
    margin _(2) _(2) _(10)


  p
    margin _(1) 0

@keyframes fade-in-opacity
  0%
    opacity 0
  100%
    opacity 1

.Portrait
  display block
  max-width 75%
  max-height 100vh
  height auto
  width auto
  z-index -1
  height auto
  fixed bottom 0 right 35vw
  opacity 0
  animation 0.3s 0.1s fade-in-opacity
  animation-fill-mode both

.u-noWrap
  white-space nowrap
