// PAGE LAYOUT
.Portfolio-Page
  padding-top _(10)
  line-height 24px
  margin 0 auto

.Navigation

  &-entryList
    display flex
    > li
      margin-right _(2)

  &-entry
    transition()
    display block
    padding 0 _(1) 0
    white-space nowrap
    border-bottom 2px solid transparent
    &:hover
      border-color green !important
    &:active
      transition-duration 0
      background black
      color white

    &.is-active
      border-bottom 2px solid black

section
  width contentwidth
  margin 0 auto
  position relative


.Header
  display flex
  justify-content space-between
  align-items center
  z-index 100
  fixed top 0 left 0
  padding _(2) ((100% - contentwidth) / 2) 0
  background white
  width 100%

.Watermark
  white-space nowrap
  font-size smallfont
  display flex
  &-item
    margin-left _(1)
    transition .1s
    opacity .3



// TRANSITIONS
.page-transition {
  transition: opacity 1s;
}

.page-enter, .page-leave {
  opacity: 0;
}

.page-transition
  transition .2s
  left 0
  transition-timing-function $swift-ease-out

.page-enter
  opacity 0

.page-leave
  opacity 0
  left 10px
  transition-timing-function $swift-ease-in

.Watermark
  animation 2s 1s fade-in-left
  animation-fill-mode both

.Navigation-entryList 
  animation 1s fade-in-left
  animation-fill-mode both

.Navigation-entryList > li
  opacity 0
  animation .5s fade-in-left
  animation-fill-mode both
  for step in 1 ..5
    &:nth-child({step})
      animation-delay (step * .1)s

section.Contact
  min-height 100vh
