.Apps
  display flex
  align-items center
  justify-content space-between
  flex-wrap wrap

.App
  margin-right _(2)
  &--ipad
    margin-left _(20)
    margin-top _(5)
    margin-right -5vw
    display block
  &--ipad
    display block
    min-width _(30)
    max-width _(40)
    flex-grow .5
    .App-image
      width 100%


  &--phone
    margin-left -5vw
    display flex
    align-items center
    width _(8)
    max-width _(12)
    flex-grow .25
    .App-image
      width 100%

  &-details
    display block
    margin-left _(2)
    white-space nowrap
  &-heading
    font-weight bold

.Photography
  margin _(10) 0
  &-heading
    font-weight bold
    margin-bottom _(5)
    display flex

.Photograph
  &-list
    display flex
    margin-bottom _(10)
    justify-content space-around
    &:nth-child(odd)
      padding-left _(10)
  &-caption
    text-align right
  height _(10)
  margin-right _(1)
  material-shadow 3
  transition .2s $ease-out-swift
  cursor pointer
  &:hover
    material-shadow 1
    transform scale(1.2)
  img
    height 100%

.Logo
  display block
  margin _(6) auto _(14)

.Logos
  margin-top _(5)
.Logos-heading
  font-weight bold

.Interaction
  font-weight bold
  border-bottom 2px solid black
  display block
  margin 100px 0 

.Videos-heading
  font-weight bold
  margin-bottom 20px

.Video-title
  margin 40px 0 20px
  display block

.Videos
  margin-bottom 100px
