section.Vita
  display flex
  flex-wrap wrap

.Meta
  width _(50)
  padding _(3) _(5) _(3) _(30)
  margin _(-3) _(10) 0 _(-30)
  background transparentify(black, black, 0.05)
  &-heading
    absolute left _(-13)
    text-align right
    width _(12)
    color #aaa
  &-entry
    white-space nowrap
    margin-top _(1)
    relative()
    &--skills
      margin-bottom _(3)
    &Group
      margin-bottom _(4)

  &-skillIndicator
    display flex
    margin _(.5) _(.5) _(1) 0
    hr
      width _(2)
      margin 0 _(.5) 0 0
      border 1px solid black
      opacity 0.5
      transition .1s

  &-entry--skills &-content:hover
    font-weight bold
    letter-spacing .003em

  &-content:hover &-skillIndicator hr
    opacity 1
    transform scaleY(1.5)
    margin-right _(.7)

  &-subContent
    font-size smallfont

  for level in 1 .. 5
    hr:nth-child({level})
      transition-delay (level / 30)s

  h2
    font-weight bold

.Timeline
  margin-left _(20)
  margin-top _(3)
  relative()
  &-heading
    absolute top _(-3) left _(-3)
    font-weight bold
    text-align center
    width _(10)



.TimelineNavigation
  width _(30)
  display flex
  absolute top 0 left _(-15 + 2)
  display flex
  transition()

  &.is-selecting
    &-work
      transform translateX(_(10))
    &-education
      transform translateX(_(0))
    &-other
      transform translateX(_(-10))

  &-entry
    width _(10)
    cursor pointer
    background-color transparent
    display flex
    justify-content center
    animation 8s pop 3
    animation-timing-function $ease-swift-in-out

    for entryNumber in 1 ..3
      &:nth-child({entryNumber})
        animation-delay 3s + (entryNumber * .3)s

    &:hover > a
      color white
    > a
      border-bottom 0px solid black
      padding 0 _(1)
      border-color inherit
      transition .1s
      margin 0 auto
      display inline-block
      text-transform uppercase
      letter-spacing .07em
    &.is-active > a
      border-bottom-width 1px

color-work = blue
color-education = green
color-other = orange

.TimelineNavigation-entry
  &.Work
    color color-work
    border-bottom-color color-work
  &.Work:hover > a
    background-color color-work

  &.Education
    color color-education
    border-bottom-color color-education
  &.Education:hover > a
    background-color color-education

  &.Other
    color color-other
    border-bottom-color color-other
  &.Other:hover > a
    background-color color-other

.Strand
  &.Work hr
    border-color color-work


  &.Education hr
    border-color color-education


  &.Other hr
    border-color color-other





.TimeAxis
  absolute top _(5) left 0
  width _(4)
  z-index 0
  font-size smallfont

.AxisPoint
  height _(4)
  text-align center
  relative()
  line-height 0
  &--demi
    hr
      opacity 1
  hr
    border 1px solid black
    margin 0 auto
    width _(.5)
    opacity 0
    transition()
    transition-timing-function $ease-swift-in-out
    absolute top 0 left 0 right 0
    transform scaleX(90) scaleY(.3)
    border-style dashed
    opacity .1

.todayDate
  padding-top _(1)

.Period-content
  opacity 0
  transition .4s

$inactiveA
  transform translateX(_(-1))

$inactiveB
  transform translateX(_(-1.5))

.Strand
  transition()
  &.is-active.is-active
    .Period-content
      transition-delay .1s
      opacity 1
    .Period-line hr
      transform scaleX(2)
      opacity 1

  &--right.is-active.is-active
    transform translateX(0)

  &--left
    absolute top _(5) right _(1)
    transform translateX(_(.5))
    .Period
      &-content
        absolute  top 0 right _(1)
        text-align right

  &--right.Education
    @extend $inactiveA
  &--right.Other
    @extend $inactiveA
  &--right.Work
    @extend $inactiveB

  &--right.Work.is-active ~ .Education
    @extend $inactiveB

  &--left.Work:not(.is-active) ~ &--left.Other:not(.is-active)
    transform translateX(0)

  &--left.is-active.is-active
    transform translateX(_(-.5))
  

  &--right
    absolute top _(5) left _(6)

    .Period
      &-content
        absolute  top 0 left _(1)

.Period
  absolute top 0 left 0
  &-summary
  &-context
    white-space nowrap
  &-summary
    white-space nowrap
    font-size smallfont


.Period-line
  display flex
  absolute top 0
  hr
    border 1px solid black
    margin 0
    transition()
    opacity .5
