@import '_settings'
@import '_nobadge'

// BASE

border-box-html()
global-reset()


// HELPER
contentwidth = 70%

smallfont = 13px

_(size)
  return (16*size)px

green = #43cea2

@keyframes fade-in-opacity
  0%
    opacity 0
  100%
    opacity 1

@keyframes fade-in-left
  0%
    opacity 0
    transform translateX(-10px)
  100%
    opacity 1
    transform translateX(0)

@keyframes pop
  0%
    transform scale(1)
  3%
    transform scale(1.1) rotateZ(3deg)
  6%
    transform scale(1)
  100%
    transform scale(1)


// COMPONENTS
@import '_page'
@import '_intro'
@import '_vita'
@import '_portfolio'
@import '_contact'



html
  font-family Montserrat
  font-size 15px

a
  text-decoration none
  color inherit

